---
import '../../styles/global.css';
---
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>个人网站</title>
  </head>
  <body>
    <h1 class="text-2xl font-bold">你好</h1>
  </body>
</html>
